{{ partial:layout/section }}

  {{ partial:components/media/visual image="cavegn-immobilien-eibenstrasse-living-2" alt="" }}
  
{{ /partial:layout/section }}

{{ partial:layout/section }}
  
  {{ partial:layout/inner }}
  <a name="formular" class="scroll-m-96 lg:scroll-m-144"></a>
  {{ partial:components/headings/h1 title="Kontakt" }}
  {{ partial:components/headings/h2 title="Herzlichen Dank für Ihr Interesse" }}
    <p class="max-w-prose">
      <strong>Bei Unklarheiten können Sie gerne unser Kontaktformular ausfüllen und wir beantworten Ihre Frage zeitnah.</strong>
    </p>
    <p class="max-w-prose">
      Für Bewerbungen bitte unter <a href="/angebot" class="underline underline-offset-4 hover:no-underline">Angebot</a> Ihre Wunschwohnung auswählen und Ihre Unterlagen einreichen.
    </p>
    {{ nocache }}
      {{ form:contact_form class="mt-20 md:mt-40 max-w-4xl" }}

        {{ if errors }}
          {{ partial:components/forms/elements/errors }}
        {{ /if }}
      
        {{ if success }}
          {{ partial:components/forms/elements/success }}
            Vielen Dank für Ihre Anfrage.
          {{ /partial:components/forms/elements/success }}
        {{ /if }}

        <input type="text" name="webs1te" class="hidden" />
        {{ partial:layout/grid class="md:!gap-y-15 xl:!gap-y-25 md:!gap-x-20 xl:!gap-x-25" }}

          {{ partial:layout/span class="!col-span-full sm:grid sm:grid-cols-12 md:!gap-y-15 lg:!gap-y-20 md:!gap-x-20 lg:!gap-x-25" }}
            <div class="col-span-full md:col-span-6">
              {{ partial:components/forms/elements/select field="interest" placeholder="Interesse an" value="{{ old:interest }}" error="{{ error:interest ? true : false }}" }}
              <input type="hidden" name="interest" value="{{ old:interest }}"/>
            </div>
            <div class="col-span-full flex-wrap gap-10 md:gap-15 js-apartment-selection hidden"></div>
            {{ /partial:layout/span }}

          {{ partial:layout/span }}
            {{ partial:components/forms/elements/field field="firstname" placeholder="Vorname*" required="true" value="{{ old:firstname }}" error="{{ error:firstname ? true : false }}" }}
          {{ /partial:layout/span }}

          {{ partial:layout/span }}
            {{ partial:components/forms/elements/field field="name" placeholder="Name*" required="true" value="{{ old:name }}" error="{{ error:name ? true : false }}" }}
          {{ /partial:layout/span }}

          {{ partial:layout/span }}
            {{ partial:components/forms/elements/field field="street_number" required="true" placeholder="Strasse/Nr.*" value="{{ old:street_number }}" error="{{ error:street_number ? true : false }}"}}
          {{ /partial:layout/span }}

          {{ partial:layout/span }}
            {{ partial:components/forms/elements/field field="location" required="true" placeholder="PLZ/Ort*" value="{{ old:location }}" error="{{ error:location ? true : false }}" }}
          {{ /partial:layout/span }}

          {{ partial:layout/span }}
            {{ partial:components/forms/elements/field type="email" required="true" field="email" placeholder="E-Mail*" value="{{ old:email }}" error="{{ error:email ? true : false }}" }}
          {{ /partial:layout/span }}

          {{ partial:layout/span }}
            {{ partial:components/forms/elements/field field="phone" required="true" placeholder="Telefon*" value="{{ old:phone }}" error="{{ error:phone ? true : false }}" }}
          {{ /partial:layout/span }}

          {{ partial:layout/span class="!col-span-full" }}
            {{ partial:components/forms/elements/textarea field="message" placeholder="Nachricht" }}
          {{ /partial:layout/span }}

          {{ partial:layout/span class="!col-span-full mb-25 md:mb-10" }}
            {{ partial:components/forms/elements/checkbox field="privacy" id="privacy" value="{{ old:privacy }}" error="{{ error:privacy ? true : false }}" }}
          {{ /partial:layout/span }}

          {{ partial:layout/span }}
            {{ partial:components/forms/elements/button title="Absenden" }}
          {{ /partial:layout/span }}

        {{ /partial:layout/grid }}
      
      
      {{ /form:contact_form }}
    {{ /nocache }}

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}
