{{ partial:layout/section }}
  {{ partial:components/media/visual image="cavegn-immobilien-eibenstrasse-kitchen" alt="" }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Wohnen und Leben" }}
    {{ partial:components/headings/h2 title="Im Herzen von Alt-Wiedikon, Kreis 3" }}
    {{ partial:layout/grid class="!block lg:!grid" }}
      <div class="lg:col-span-7">
        <p class="hyphens-auto max-w-prose lg:max-w-none"><strong>Die Überbauung «Eibe 8045» entsteht im beliebten Kreis 3, im Quartier Alt-Wiedikon. Hier finden Sie alles, was Sie für den täglichen Bedarf benötigen: vielfältige Einkaufsmöglichkeiten, beliebte Restaurants und neue Cafés – ein aufblühendes Viertel mitten in Zürich.</strong></p>
        <p class="hyphens-auto max-w-prose lg:max-w-none">Auch Naherholungsgebiete wie der Uetliberg, die Allmend-Anlage oder der Zürichsee sind in der Nähe und laden zu schönen Spaziergängen, Picknicks oder sportlichen Aktivitäten ein. Diese Orte sind sowohl mit dem Fahrrad als auch mit dem öffentlichen Verkehr gut erreichbar.</p>
        <p class="hyphens-auto max-w-prose lg:max-w-none">Das Gebäude liegt in einer ruhigen 30er-Zone, zurückversetzt von der Strasse. Die SZU-Haltestellen Giesshübel und Binz sind nur jeweils drei Gehminuten von der Liegenschaft entfernt. Von dort aus sind Sie hervorragend an den Hauptbahnhof, nach Adliswil, zum Uetliberg und somit an alle wichtigen Ziele in der Stadt Zürich angebunden.</p>
        <table class="mb-30 lg:mb-0 mt-20 md:mt-25 w-full max-w-lg xl:max-w-xl">
          <thead class="font-rift font-bold uppercase text-md md:text-lg">
            <tr class="border-b md:border-b-2 border-juniper">
              <th class="text-left">Distanzen</th>
              <th class="text-right">Zu Fuss</th>
              <th class="text-right">Fahrrad</th>
              <th class="text-right">Zug/Bus</th>
              <th class="text-right">Auto</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b md:border-b-2 border-juniper">
              <td class="pr-20 md:pr-30 py-5">Zürich HB</td>
              <td class="py-5 text-right">30min</td>
              <td class="py-5 text-right">15min</td>
              <td class="py-5 text-right">10min</td>
              <td class="py-5 text-right">7min</td>
            </tr>
            <tr class="border-b md:border-b-2 border-juniper">
              <td class="pr-20 md:pr-30 py-5">Giesshübel Haltestelle</td>
              <td class="py-5 text-right">3min</td>
              <td class="py-5 text-right">3min</td>
              <td class="py-5 text-right">2min</td>
              <td class="py-5 text-right">4min</td>
            </tr>
            <tr class="border-b md:border-b-2 border-juniper">
              <td class="pr-20 md:pr-30 py-5">Binz Haltestelle</td>
              <td class="py-5 text-right">3min</td>
              <td class="py-5 text-right">3min</td>
              <td class="py-5 text-right">–</td>
              <td class="py-5 text-right">1min</td>
            </tr>
            <tr class="border-b md:border-b-2 border-juniper">
              <td class="pr-20 md:pr-30 py-5">Einkaufen</td>
              <td class="py-5 text-right">3min</td>
              <td class="py-5 text-right">1min</td>
              <td class="py-5 text-right">–</td>
              <td class="py-5 text-right">1min</td>
            </tr>
            <tr class="border-b md:border-b-2 border-juniper">
              <td class="pr-20 md:pr-30 py-5">Apotheke</td>
              <td class="py-5 text-right">4min</td>
              <td class="py-5 text-right">2min</td>
              <td class="py-5 text-right">–</td>
              <td class="py-5 text-right">2min</td>
            </tr>
            <tr class="border-b md:border-b-2 border-juniper">
              <td class="pr-20 md:pr-30 py-5">Flughafen</td>
              <td class="py-5 text-right">–</td>
              <td class="py-5 text-right">–</td>
              <td class="py-5 text-right">22min</td>
              <td class="py-5 text-right">20min</td>
            </tr>
            <tr class="border-b md:border-b-2 border-juniper">
              <td class="pr-20 md:pr-30 py-5">Autobahn</td>
              <td class="py-5 text-right">–</td>
              <td class="py-5 text-right">–</td>
              <td class="py-5 text-right">–</td>
              <td class="py-5 text-right">5min</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex flex-col gap-y-20 xl:gap-y-30 lg:col-span-5">
        {{ partial:components/fancybox/item image="/assets/cavegn-immobilien-eibenstrasse-garden" alt="" }}
        {{ partial:components/fancybox/item image="/assets/cavegn-immobilien-eibenstrasse-terrasse" alt="" }}
      </div>
    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
  {{ partial:layout/inner class="!pt-0" }}
    {{ partial:partials/misc/map }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}
