{{ partial:layout/section }}
  {{ partial:components/media/visual image="zoe-siewerdtstrasse-5" alt="" }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Wohnen in Zürich-Binz" }}
    {{ partial:components/headings/h2 title="Erstvermietung ab Juli 2025" }}
    {{ partial:layout/grid }}
      <div class="md:col-span-7">
        <p class="hyphens-auto"><strong>Mit dem Projekt an der Eibenstrasse 18/20 entstehen an beliebter Lage im Kreis 3, moderne und grosszügige 2.5-, 3.5- und 4.5 Zimmerwohnungen.</strong></p>
        <table class="mb-15 md:mb-25">
          <tr class="border-b md:border-b-2 border-juniper">
            <td class="pr-20 md:pr-30 py-5">2.5 Zimmerwohnungen <span class="text-mint">(21x)</span></td>
            <td class="py-5">48 – 71m<sup>2</sup></td>
          </tr>
          <tr class="border-b md:border-b-2 border-juniper">
            <td class="pr-20 md:pr-30 py-5">3.5 Zimmerwohnungen <span class="text-mint">(19x)</span></td>
            <td class="py-5">66 – 82m<sup>2</sup></td>
          </tr>
          <tr class="border-b md:border-b-2 border-juniper">
            <td class="pr-20 md:pr-30 py-5">4.5 Zimmerwohnungen <span class="text-mint">(4x)</span></td>
            <td class="py-5">90 – 99m<sup>2</sup></td>
          </tr>
        </table>
        <p class="hyphens-auto">Eine parkähnliche Grünfläche im Innenhof der Überbauung bildet das Herzstück dieses Projekts. Mit sorgfältig ausgewählten Bäumen und Sträuchern, schafft sie ein ruhiges Paradies – ein einzigartiger Rückzugsort mitten in der Stadt. Diese Oase der Ruhe ist eines der absoluten Highlights der Überbauung und bietet den Bewohnern ein unvergleichliches Naturerlebnis im urbanen Umfeld.</p>
        <p class="hyphens-auto">Auch das Dach im 2. Obergeschoss wird durch die üppige Begrünung zu einem Ort der Entspannung gestaltet. Hier, unter der rundum begrünten Pergola, können sich Mieterinnen und Mieter in einer Atmosphäre von Ruhe und Gemeinschaft treffen; die Pergola steht allen Bewohnern zur Mitbenutzung zur Verfügung. Diese grünen Rückzugsorte, sowohl im Innenhof als auch auf dem Dach, machen die Überbauung zu einem seltenen Fund in Zürich – ein Platz, der inmitten des städtischen Trubels Ruhe und Erholung bietet.</p>
        <p class="hyphens-auto">Dank der zentralen Lage des Neubauprojektes Eibe in der Binz profitieren die Bewohner und Bewohnerinnen von kurzen Wegen in die lebendige Innenstadt. Eine bestens ausgebaute Infrastruktur und sehr gute Anbindung an den öffentlichen Verkehr befinden sich vor der Haustür. Zusätzlich ist auf dem Dach der Überbauung eine eigene Photovoltaikanlage installiert, deren erzeugter Strom im Rahmen eines Zusammenschlusses zum Eigenverbrauch (ZEV) verwendet wird.</p>
      </div>
      <div class="flex flex-col gap-y-20 xl:gap-y-30 md:col-span-5">
        {{ partial:components/fancybox/item image="/assets/zoe-siewerdtstrasse-cam-1" alt="" }}
        {{ partial:components/fancybox/item image="/assets/zoe-siewerdtstrasse-cam-2" alt="" }}
      </div>
    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}
