{{ partial:layout/grid class="md:gap-15 xl:gap-30 mb-40 md:mb-60 lg:mb-80" }}

  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="uppercase font-rift font-bold text-lg md:text-xl tracking-wide text-juniper mb-5 xl:mb-10">Verfügbarkeit</div>
    <div>
      <select 
        class="js-filter-attribute !outline-none bg-white border-2 border-mint text-mint font-rift font-bold text-lg md:text-xl tracking-wide uppercase p-8 pr-20 w-full appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:18px_auto] bg-[right_.75rem_center] bg-no-repeat"
        data-filterType="object-state" 
        aria-label="Verfügbarkeit">
        <option value="NULL">Alle Wohnungen</option>
        <option value="available">frei</option>
        <option value="reserved">reserviert</option>
        <option value="sold">verkauft</option>
      </select>
    </div>
  {{ /partial:layout/span }}
  
  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="uppercase font-rift font-bold text-lg md:text-xl tracking-wide text-juniper mb-5 xl:mb-10">Zimmer</div>
    <div>
      <select 
        class="js-filter-attribute !outline-none bg-white border-2 border-mint text-mint font-rift font-bold text-lg md:text-xl tracking-wide uppercase px-8 py-8 pr-20 w-full appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:18px_auto] bg-[right_.75rem_center] bg-no-repeat" 
        data-filterType="object-rooms" 
        aria-label="Zimmer">
        <option value="NULL">Alle Zimmer</option>
        <option value="2.5">2.5</option>
        <option value="3.5">3.5</option>
        <option value="4.5">4.5</option>
      </select>
    </div>
  {{ /partial:layout/span }}

  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="uppercase font-bold font-rift text-lg md:text-xl tracking-wide text-juniper mb-5 xl:mb-10">Etage</div>
    <div>
      <select 
        class="js-filter-attribute !outline-none bg-white border-2 border-mint text-mint font-rift font-bold text-lg md:text-xl tracking-wide uppercase p-8 pr-20 w-full appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:18px_auto] bg-[right_.75rem_center] bg-no-repeat" 
        data-filterType="object-floor" 
        aria-label="Etage">
        <option value="NULL">Alle Etagen</option>
        <option value="eg">EG</option>
        <option value="1.og">1. OG</option>
        <option value="2.og">2. OG</option>
        <option value="3.og">3. OG</option>
        <option value="4.og">4. OG</option>
        <option value="5.og">5. OG</option>
        <option value="attika">Attika</option>
      </select>
    </div>
  {{ /partial:layout/span }}
  
  {{ partial:layout/span class="lg:!col-span-3 flex items-end -mb-4" }}
    <button class="js-btn-reset inline-block font-rift font-bold text-xl md:text-2xl uppercase tracking-wide border-b-2 pr-10 pb-4 relative after:content-[''] after:absolute after:top-3 after:right-0 after:inline-block after:w-2 after:h-42 border-mint after:bg-mint hover:text-mint hover:after:bg-juniper hover:border-juniper">
      Zurücksetzen
    </button>
  {{ /partial:layout/span }}

{{ /partial:layout/grid }}