@import "typo/webfonts.css";
@import "vendor/mapbox.css";
@import "vendor/swiper.css";
@import "vendor/swiper-custom.css";
@import "components/iso.css";
@import "views/privacy.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-size: 32px;
}

[x-cloak] {
  @apply hidden;
}

main {
  @apply flex-1;
}


p {
  @apply mb-15 md:mb-25;
}

p:last-of-type {
  @apply mb-0;
}

strong {
  @apply font-sans font-bold;
}

main ul {
  @apply m-0 p-0 mb-15 md:mb-25 list-['—_'];
}

main ul:last-child {
  @apply mb-0;
}

main ul li {
  @apply list-item ml-18 pl-10
}

sub,
sup {
  font-size: 65%;
}

.marker {
  background-image: url('../icons/marker.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 50px;
  width: 40px;
}

.fancybox__backdrop {
  @apply !bg-black bg-opacity-90;
}

.fancybox__toolbar {
  @apply !p-16;
}

.fancybox__content {
  @apply !px-4 md:!px-12 lg:!px-24 xl:!px-48
}

.fancybox__nav .f-button,
.fancybox__toolbar .f-button {
  @apply !bg-transparent !border-none !p-0 h-24 w-24;
}

.fancybox__nav .f-button svg,
.fancybox__toolbar .f-button svg {
  @apply text-white;
}

form textarea {
  field-sizing: content;
}

form input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='none' stroke='%23AABFB5' stroke-width='6' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='40 12 18 34 8 24'%3E%3C/polyline%3E%3C/svg%3E");
}

form .badge {
  @apply cursor-pointer flex items-center gap-x-10  bg-mint font-rift font-bold text-md md:text-lg text-white tracking-wide uppercase leading-none border-mint border-2 py-8 px-12;
}

form .badge svg {
  @apply size-15
}