.iso-cls-0, .iso-cls-1 {
  fill: #919191;
}

.iso-cls-2 {
  fill: #c6c6c6;
}

.iso-cls-3 {
  fill: none;
}

.iso-cls-3, 
.iso-cls-1 {
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .5px;
}

.iso-cls-4 {
  fill: #ab2b40;
}

.iso-cls-5 {
  fill: #a9a9a9;
}

.iso-cls-6 {
  fill: #aabfb5;
}


/* State classes */
.is-active.is-available [data-name="Wohnung"] [class^="iso-cls-"]  {
  fill: #aabfb5;
}

.is-active.is-taken [data-name="Wohnung"] [class^="iso-cls-"] {
  fill: #ab2b40;
}

[data-iso]:hover {
  @apply cursor-pointer;
}

[data-object].is-active {
  @apply !bg-mint !bg-opacity-20;
}

/* Floor classes */
[data-iso-floor] {
  @apply transition-transform duration-300;
}
.is-up {
  @apply transform -translate-y-[16%] transition-transform duration-300;
}

.is-down {
  @apply transform translate-y-[16%] transition-transform duration-300;
}