<div class="relative bg-white mb-10 md:mb-15 xl:mb-20">
  <div class="bg-mint absolute top-0 left-0 z-5 w-full aspect-[16/4] md:aspect-[16/3.5] max-h-[275px]"></div>
  <figure class="relative z-10 px-20 md:px-30 xl:px-0 max-w-6xl mx-auto">
    <picture>
      <source media="(min-width: 1200px)" srcset="/assets/{{ image }}.jpg">        
      <source media="(min-width: 768px)" srcset="/assets/{{ image }}-md.jpg">
      <source srcset="/assets/{{ image }}-sm.jpg">
      <img 
        src="/assets/{{ image }}-sm.jpg" 
        alt="{{ alt }}" 
        title="{{ alt }}" 
        height="1600" 
        width="900"
        class="aspect-[16/8] md:aspect-[16/7] object-cover h-full w-full">
    </picture>
  </figure>
</div>