<thead class="{{ class }}">
  {{# <tr class="bg-white sticky top-78 z-50 md:hidden">
    <th colspan="8">
      <div class="py-10">
        {{ partial:objects/iso class="h-150 w-auto block overflow-visible" }}
      </div>
    </th>
  </tr> #}}
  <tr class="md:sticky md:-top-2 bg-white [&>th]:py-12 [&>th]:align-middle [&>th]:leading-none [&>th]:font-bold [&>th]:text-juniper [&>th]:pb-15 [&>th]:xl:pb-21">
    <th class="text-left w-[13%] md:w-[14%]">
      Nr.
    </th>
    <th class="text-left w-[12%] md:w-[10%]">
      Etage
    </th>
    <th class="text-left w-[5%] md:w-[2%]">
      Zi
    </th>
    <th class="text-right w-10%] md:w-[12%]">
      <span class="block lg:hidden">m<sup>2</sup></span>
      <span class="hidden lg:block">HNF m<sup>2</sup></span>
    </th>
    <th class="text-right w-[10%] md:w-[14%]">
      <span class="block lg:hidden">Netto</span>
      <span class="hidden lg:block">Netto MZ</span>
    </th>
    <th class="text-right w-[8%]">
      NK
    </th>
    <th class="text-right w-[10%] md:w-[15%]">
      <span class="block lg:hidden">Brutto</span>
      <span class="hidden lg:block">Brutto MZ</span>
    </th>
    <th class="text-center w-[9%]">
      Plan
    </th>
    <th class="hidden lg:table-cell text-right w-[14%]">
      Anmeldung
    </th>
  </tr>
</thead>